<ul class="nav">
    <li class="nav-li"><a [routerLink]="['view/table']"  title="table view"><i class="material-icons link-icons">grid_on</i></a></li>
    <li class="nav-li"><a [routerLink]="['view/block']"   title="block view"><i class="material-icons link-icons">view_module</i></a></li>
    <li class="nav-li"><a [routerLink]="['upload']"   title="upload image"><i class="material-icons link-icons">cloud_upload</i></a></li>
    
    <li *ngIf="!ifUserExist" class="nav-li"><a [routerLink]="['sign/in']"   title="sign in"><i class="material-icons link-icons sign-in">account_circle</i></a></li>
    <li *ngIf="ifUserExist"class="nav-li"><a [routerLink]="['sign/out']"   title="sign out"><i class="material-icons link-icons sign-out">account_circle</i></a></li>
</ul>
