.nav {
    margin-right: 10px;
    width: 175px;
    display: flex;
    justify-content: space-between;
}
.nav-li {
    list-style: none;
    flex: 1, 0, auto;
}
.link-icons {
    color: #979797;
}
.sign-in {
    color:#4CAF50;
}

.sign-out {
    color:#F34235;
}
