<section class="view-table">
    <table>
        <thead>
            <tr class="head-tr">
                <td>ID</td>
                <td>ImageName</td>
                <td>Upload User</td>
                <td>Checksum</td>
                <td>Events</td>
            </tr>
        </thead>

        <tbody>
            <tr class="tr-body" *ngFor="let upload of tableUploads">
                <td>{{upload?.id}}</td>
                <td>{{upload?.imageName}}</td>
                <td>{{upload?.uploadedUser}}</td>
                <td>{{upload?.checksum}}</td>
                <td>
                    <button class="td-btn view" (click)="ifView($event, upload)">view</button>
                    <button class="td-btn delete" (click)="ifDelete(upload?.id)">delete</button>
                </td>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <figure class="modal-figure">
                            <figcaption>
                                <h4 class="figcaption-h4">Preview of Upload Image</h4>
                            </figcaption>
                            <img src="http://placehold.it/300x150" alt="uploadimg">
                        </figure>
                        <button class="close" (click)="closeModal($event)">close</button>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</section>
