.view-table {
    width: 80%;
    margin: 50px auto;
    background: #fafafa;
    padding: 50px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #676767;
}
table {
    margin: 0 auto;
}
td {
    border: 1px solid gray;
    padding: 10px 50px;
    text-align: center;
}
.td-btn {
    padding: 0 25px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px 0;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.modal-figure {
    flex: 1, 0, auto;
    margin-bottom: 15px;
}
.figcaption-h4 {
    text-align: center;
    margin-bottom: 15px;
}
/* The Close Button */
.close {
    width: 25%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
