.view-block {
    width: 80%;
    border: 2px solid #dadada;
    padding: 50px 0;
    margin: 50px auto;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.block-item {
    flex: 1, 0, auto;
}
figure {
    position: relative;
}
figure:hover > .cancel {
    display: block;
}
.cancel {
    cursor: pointer;
    display: none;
    position: absolute;
    top: -15px;
    right: -15px;
    color: #878787;
    border-radius: 100%;
    font-size: 36px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
figcaption {
    color: #676767;
}
span { float: right;}
