<section class="view-block">
    <div class="block-item" *ngFor="let item of uploads; let i = index;">
        <figure >
            <i class="material-icons cancel" (click)="ifCancel($event, item)">cancel</i>
            <img src="http://placehold.it/300x150" alt="testimg">
            <figcaption>
                <p>ImageName: <span>{{item?.imageName}}</span></p>
                <p>UploadUser: <span>{{item?.uploadedUser}}</span></p>
                <p>ImageSize: <span>{{item?.fileSize}}</span></p>
                <p>Checksum: <span>{{item?.checksum}}</span></p>
            </figcaption>
        </figure>
    </div>
</section>
