:root {
  --home-txt-color: #838383;
}
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 50px auto;
    padding-top: 25px;
    background: #dadada;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.home-title {
    text-align: center;
    font-weight: bold;
    color: var(--home-txt-colo);
    margin-bottom: 10px;
}
.task-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.task-row  {
    padding: 20px 0;
}
.description p {
    margin-bottom: 15px;
}
