<section class="home-page">
    <h3 class="home-title">Welcome to Test Task - Trying to resolve</h3>
    <h5>​You should create Single Page Application for uploading images and with simple Auth</h5>

    <div class="task-box">
        <div class="task-row description">
            <p>All data should be stored in LocalStorage</p>
            <p>The data should be stored separately for each of the user After SignOut images should be removed</p>
            <p>You can’t inject already written components like DropZone, Modals and etc.( exception: SHA256 )</p>
            <p>Application should be written without back-end languages or services</p>
            <p>Table, Blocks, Upload pages should have they own Controllers</p>
            <p>Provide description how to bootstrap application from scratch</p>
            <p>Footer should have separate component and service for data handling</p>
            <p>Code should be right formatted and commented. Unit testing not required, but will be a big plus</p>
        </div>
    </div>
</section>
