<form class="in-form" [formGroup]="userForm" (ngSubmit)="userFormSubmit(userForm)"novalidate>
    <h4 class="form-title">Sign In with our account</h4>
    <div class="b-email">
            <p class="input-name">Email</p>
            <input
            class="input"
            type="email"
            name="email"
            placeholder="somename@gmail.com"
            formControlName="email"
            >
             <!-- email -->
            <div
            class="error"
            *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
            --> Email is required
            </div>
            <div
            class="error"
            *ngIf="userForm.get('email').hasError('minlength') && userForm.get('email').touched">
            --> min characters 8
            </div> 
            <div
            class="error"
            *ngIf="userForm.get('email').hasError('maxlength') && userForm.get('email').touched">
            --> max characters 32
            </div> 
             <div
            class="error"
            *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email').touched">
            --> Error | exp: somename@gmail.com
            </div> 



    </div>
    <div class="b-password">
            <p class="input-name">Password</p>
            <input
            class="input"
            type="password"
            name="password"
            placeholder="min 8 characters"
            formControlName="password"
            >
             <!-- password -->
            <div
            class="error"
            *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">
            --> Password is required
            </div>
            <div
            class="error"
            *ngIf="userForm.get('password').hasError('minlength') && userForm.get('password').touched">
            --> min characters 5
            </div>  
            <div
            class="error"
            *ngIf="userForm.get('password').hasError('maxlength') && userForm.get('password').touched">
            --> max characters 16
            </div>  
    </div>
  <button type="submit" class="btn-submit" [disabled]="userForm.invalid" >submit</button>
</form>

