.in-form {
    width: 20%;
    margin: 25px auto;
    padding: 2% 2% 0 2%;
    background: #dedede;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 225px;
}
.form-title {
    text-align: center;
    color: #676767;
    font-weight: bold;
}
.b-email {
    flex: 1, 0, auto;
}
.input {
    width: 100%;
    padding: 5px 0;
}
.input-name {
    color: #676767;
    font-size: 14px;
    font-weight: bold;
}
.b-password {
    flex: 1, 0, auto;
}
button[type="submit"] {
    padding: 5px;
}
.error {
    color: #F34235;
    font-weight: bold;
    font-size: 10px;
}
