/* You can add global styles to this file, and also import other style files */
* { padding: 0; margin: 0;}
::-webkit-scrollbar {
    width: 0;
}
body {
    font-family: monospace;
    /*font-family: 'Gloria Hallelujah', cursive;*/
}
