.upload {
    width: 60%;
    overflow: hidden;
    background: #dadada;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 50px auto;
}
.upload-title {
    margin: 15px 15px 25px ;
}
.drop-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.file-drop {
    flex: 0, 0, auto;
    width: 35%;
    height: 200px;
    background: #dbdbdb;
    border: 2px dotted gray;
    border-radius: 2%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside-drop-title {
    font-size: 18px;
}
.file-preview {
    flex: 1, 0, auto;
    margin-left: 5%;
    max-width: 300px;
    height: 200px;
    background: #dbdbdb;
}
.preview-figure  {
    position: relative;
}
.preview-figure:hover > .cancel-preview {
    display: block;
}
.cancel-preview {
    cursor: pointer;
    display: none;
    position: absolute;
    top: -12px;
    right: -12px;
    color: #676767;
    border-radius: 100%;
    font-size: 26px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.preview-figure img {
    max-width: 125px;
    height: 100px;
}
.preview-figcaption {
    max-width: 125px;
    font-size: 8px;
}
.preview-figcaption p {
    margin-bottom: 5px;
    color: #878787;
}
.preview-figcaption p span {
    float: right;
}
.btn-wrapper {
    margin-top: 50px;
    padding: 15px 0;
    width: 100%;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-upload {
    width: 20%;
    padding: 5px 0;
    margin-right: 20px;
}
