<section class="upload">
    <h3 class="upload-title">Upload Image</h3>
    <div class="drop-wrapper">
        <div ngFileDrop
            class="file-drop"
            [options]="options"
            (onUpload)="handleUpload($event)"
            (onFileOver)="fileOverBase($event)">
            <span class="inside-drop-title">DropZone <br> Click or Drop Images</span>
        </div>
        <div class="file-preview" *ngIf="previewData && !response">
            <!--Response: {{ response | json }}-->
            <figure class="preview-figure">
                <i class="material-icons cancel-preview" (click)="closePrevieImage($event)">cancel</i>
                <img [src]="previewData">
                <figcaption class="preview-figcaption">
                    <p>image name <span>project.jpg</span></p>
                    <p>image size <span>114.6kb</span></p>
                </figcaption>
            </figure>
        </div>
    </div>
     <!-- advanced-demo.component.html -->
        <div class="button-container">
            <label class="upload-button is-pulled-left">
                <input type="file"
                    class="hidden"
                    ngFileSelect
                    [options]="options"
                    [events]="inputUploadEvents"
                    (onUpload)="handleUpload($event)"
                    (onPreviewData)="handlePreviewData($event)"
                    (beforeUpload)="beforeUpload($event)">
                Browse
            </label>
        </div>
    <div class="btn-wrapper">
        <button class="btn-upload" (click)="clearAll($event)">Clear All</button>
        <button class="btn-upload" (click)="startUpload()">Save</button>
        <!--(click)="saveUpload($event)"-->
    </div>
</section>
